/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
  input, button, textarea, select {
    font: inherit;
}
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  #root, #__next {
    isolation: isolate;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    width: 1600px;
    height: 900px;
}

.sidebar {
    background-color: aquamarine;
    width: 10%;
}

.main-content {
    width: 80%;
    background-color: brown;
}

.header-container {
    background-color: chartreuse;
	height: 25%;
}

.header-container #top {
	height: 50%;
    display: flex;
    justify-content: space-between;
}

.header-container #bottom {
	height: 50%;
    display: flex;
	justify-content: space-between;
}

#bottom #buttons {
}

#intro {
	display: flex;
	
}

#intro div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.grid-container {	
    background-color: orange;
}
    