/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  input, button, textarea, select {
    font: inherit;
}
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  #root, #__next {
    isolation: isolate;
}

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    font-family: Norse-bold, sans-serif;
    display:flex;
    width: 1024px;
}

h1 {
    height:300px;
    text-align: center;
    padding: 20px;
}

#image-sidebar {
    position: relative;
    width: 40%;
    height: 100%;
}

#image-text {
    display: inline-block;
    text-align: center;
    position: absolute;
    color:antiquewhite;
    background-color: rgba(25, 25, 25, 0.8);
    font-size: 50px;
    left: 0;
    right: 0;
    width: 100%;
    top: 100px;
    
}



.container {
    padding: 20px;
    width: 60%;
    flex-direction: column;
    background-color: aliceblue;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
}

.input  {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input,
textarea,
button,
select {
    width:150px;
    height: 25px;  
}